profiles {
  conda {
    process.conda = "${moduleDir}/environment.yml"
  }
  docker {
    docker.enabled = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
  nibsc {
    process {
      executor = 'slurm'
      containerOptions = '-B /usr/share -B /home/AD'
    }
    singularity.enabled = true
  }
}

params {
  modules {
    'fastqc' {
      args = ""
    }
  }
}
